<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.TestrecordlistMapper">

	<select id="queryTestrecordlistBySno" parameterType="String" resultType="int">
		select distinct qid from testrecordlist where sno = #{value}
	</select>

	<insert id="insertTestrecordlist" parameterType="java.util.List">
		insert into testrecordlist
		(mainid,sno,qid,useranswer,testtime)
		values
		<foreach collection="list" item="record" separator=",">
			(#{record.mainid}, #{record.sno}, #{record.qid}, #{record.useranswer},now())
		</foreach>
	</insert>

	<delete id="deleteTestrecordlist" parameterType="int">
		delete from testrecordlist where mainid=#{mainid}
	</delete>

</mapper>

 
